<main id="main-content"> 
  <section class="table-add-desktop">
    <div class="parent-container">
      <div class="dashboard-card">
        <div class="toolbar">
          <button id="open-modal" class="add-button" (click)="openModal()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"></mat-icon>
            <p>Add New Desktop</p>
          </button>

          <div class="search-container">
            <input matInput type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchKeyword" />
            <button class="search-btn" (click)="onSearch()">
              <mat-icon class="search-btn" aria-hidden="false" aria-label="Example home icon"
                fontIcon="search"></mat-icon>
            </button>
          </div>
        </div>

        <div class="table-container">
          <table mat-table class="mat-elevation-z8" [dataSource]="desktops">
            <ng-container matColumnDef="desktopName">
              <th mat-header-cell *matHeaderCellDef>Desktop Name</th>
              <td mat-cell *matCellDef="let desktop">{{ desktop.desktopName }}</td>
            </ng-container>

            <ng-container matColumnDef="desktopSerialNumber">
              <th mat-header-cell *matHeaderCellDef>Serial Number</th>
              <td mat-cell *matCellDef="let desktop">
                {{ desktop.desktopSerialNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="desktopStorage">
              <th mat-header-cell *matHeaderCellDef>Storage</th>
              <td mat-cell *matCellDef="let desktop">
                {{ desktop.desktopStorage }}
              </td>
            </ng-container>

            <ng-container matColumnDef="desktopPurchaseDate">
              <th mat-header-cell *matHeaderCellDef>Purchased Date</th>
              <td mat-cell *matCellDef="let desktop">
                {{ desktop.desktopPurchaseDate | date: 'MMM d, y' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="desktopLocation">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let desktop">
                {{ desktop.desktopLocation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="desktopAssignedTo">
              <th mat-header-cell *matHeaderCellDef>Assigned To</th>
              <td mat-cell *matCellDef="let desktop">
                {{ getEmployeeName(desktop.desktopAssignedTo) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="desktopCondition">
              <th mat-header-cell *matHeaderCellDef>Condition</th>
              <td mat-cell *matCellDef="let desktop">
                {{ desktop.desktopCondition }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let desktop" class="actionbtn">
                <button class="actionbtn" mat-button color="primary" (click)="openModalinfo(desktop)">
                  <mat-icon class="custom-info-icon">info</mat-icon>
                </button>
                <button class="actionbtn" mat-button color="primary" (click)="openEditModal(desktop)">
                  <mat-icon class="material-symbols-outlined">edit</mat-icon>
                </button>
                <button class="actionbtn" mat-button color="primary" (click)="openDeleteModal(desktop)">
                  <mat-icon class="material-symbols-outlined">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="totalRecords"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="onPageChange($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </section>

  <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-modal>
  <app-modalinfo
    *ngIf="isModalinfoOpen"
    [selectedDesktop]="selectedDesktop"
    (closeModalEvent)="closeModalinfo()">
  </app-modalinfo>
  <app-updates-desktop *ngIf="isEditModalOpen" [selectedDesktop]="selectedDesktop" (refreshTableEvent)="getDesktops()"
    (closeModalEvent)="closeEditModal()">
  </app-updates-desktop>
  <app-delete-desktop *ngIf="isDeleteModalOpen" [selectedDesktop]="selectedDesktop" (refreshTableEvent)="getDesktops()"
    (closeModalEvent)="closeDeleteModal()">
  </app-delete-desktop>
</main>
