<div class="modal" *ngIf="isModalOpen">
    <main id="main-content">
  
      <section class="table-add-laptop">
  
        <div class="window">
          <span class="close-btn" (click)="closeModal()">×</span>
  
          <h2>Employee Table</h2>
          <div class="parent-container">
            <div class="dashboard-card">
              <div class="table-container">
                <table mat-table class="mat-elevation-z8" [dataSource]="laptops">
  
                    <ng-container matColumnDef="employeeName">
                        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                        <td mat-cell *matCellDef="let employee">
                          {{ employee.employeeName }}
                        </td>
                      </ng-container>
          
                      <ng-container matColumnDef="employmentDate">
                        <th mat-header-cell *matHeaderCellDef>Employment Date</th>
                        <td mat-cell *matCellDef="let employee">
                          {{ employee.employmentDate | date: 'MMMM d, y' }}
                        </td>
                      </ng-container>
          
                      <ng-container matColumnDef="employmentPeriod">
                        <th mat-header-cell *matHeaderCellDef>Employment Period</th>
                        <td mat-cell *matCellDef="let employee">
                          {{ employee.employmentPeriod }}
                        </td>
                      </ng-container>
            
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
                  </mat-paginator>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>